.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  font-size: 1.8em;
  font-weight: 600;
  background: #61dafb;
}
.helmets-link:hover,
.goggles-link:hover,
.jerseys-link:hover,
.pants-link:hover,
.boots-link:hover,
.gloves-link:hover {
  /* color: rgb(158, 157, 157); */

  color: #ee4a34;
  text-decoration: underline solid black;
}
