.header-container {
  /* background-color: #000000; */
  background: #333;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo {
  /* font-family: Impact, Charcoal, sans-serif; */
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 38px;
  letter-spacing: 2px;
  word-spacing: 0px;
  color: #61dafb;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  margin-left: 5vw;
}
.home-link:hover,
.login-link:hover,.logo:hover {
  color: #EE4A34;
}
.home-link,
.login-link {
  color: #61dafb;
}
.links {
  margin-left: 50vw;
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}

i {
  color: #61dafb;
}
