.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.login-container,
.register-container {
  display: flex column;
  height: 50vh;
  width: 60%;
  font-size: 3vw;
  color: white;
  background: #000;
  opacity: 0.95;
  margin-top: 15vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  font-size: 1.2em;
  opacity: 1;
}
.password,
.email,
.username {
  margin-top: 2vh;
  width: 35vw;
  height: 3vh;
  font-size: 0.4em;
  border: none;
  border-radius: 3px;
  background: #61dafb;
}
.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  background: #61dafb;
  border-radius: 12px;
  font-size: 2vw;
  padding: 6px;
  width: 10vw;
  opacity: 1;
}
.login-btn:hover,
.register-btn:hover {
  background: white;
}
.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  background: #61dafb;
  border-radius: 12px;
  font-size: 2vw;
  padding: 6px;
  width: 13vw;
  opacity: 1;
}
