.pants-container {
  background: #333;
  opacity: 0.98;
  width: 75vw;
  height: 150vh;
  margin-top: 30vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-image {
  height: 200px;
  width: 200px;
}

.product-desc {
  height: 50px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pants-body {
  background: url("https://images.unsplash.com/photo-1529475397998-d6a94c5a26f4?ixlib=rb-1.2.1&auto=format&fit=crop&w=2500&q=60")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 2100px) {
  .product-card {
    width: 20vw;
  }
  .pants-container {
    height: 250vh;
  }
  .pants-body {
    height: 300vh;
  }
}

@media screen and (max-width: 880px) {
  .product-card {
    width: 30vw;
  }
  .pants-container {
    margin-top: 5vh;
    height: 345vh;
  }
  .pants-body {
    height: 375vh;
  }
}

@media screen and (max-width: 600px) {
  .product-card {
    width: 50vw;
  }
  .pants-container {
    margin-top: 5vh;
    height: 710vh;
  }
  .pants-body {
    height: 750vh;
  }
}

@media screen and (max-width: 375px) {
  .pants-body {
    height: 600vh;
  }
  .pants-container {
    width: 100vw;
    margin-top: 0vh;
  }
  .product-card {
    width: 100vw;
  }
  .product-image {
    width: 150px;
    height: 150px;
  }
}

/* @media screen and (min-height: 800px) {
  .pants-body {
    height: 480vh;
  }
  .pants-container {
    display: block;
    height: 480vh;
  }
  .product-card {
    margin-top: 5vh;
  }
} */
