.contact-footer {
  border: solid 1px red;
  opacity: .5;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.contact-form {
  background: black;
  border: solid 1px red;
  width: 40vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
}
.name-input {
}
.email-input {
}
.message-input {
}
