.fp-container {
  background: #333;
  opacity: 0.98;
  width: 75vw;
  height: 150vh;
  margin-top: 30vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-image {
  height: 200px;
  width: 200px;
}

.product-desc {
  height: 50px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
