.boots-container {
  background: #333;
  opacity: 0.98;
  width: 75vw;
  height: 150vh;
  margin-top: 30vh;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-image {
  height: 200px;
  width: 200px;
}

.product-desc {
  height: 50px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boots-body {
  background: url("https://images.pexels.com/photos/1992396/pexels-photo-1992396.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2500")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 2100px) {
  .product-card {
    width: 20vw;
  }
  .boots-container {
    height: 250vh;
  }
  .boots-body {
    height: 300vh;
  }
}

@media screen and (max-width: 880px) {
  .product-card {
    width: 30vw;
  }
  .boots-container {
    margin-top: 5vh;
    height: 345vh;
  }
  .boots-body {
    height: 375vh;
  }
}

@media screen and (max-width: 600px) {
  .product-card {
    width: 50vw;
  }
  .boots-container {
    margin-top: 5vh;
    height: 710vh;
  }
  .boots-body {
    height: 750vh;
  }
}

@media screen and (max-width: 375px) {
  .boots-body {
    height: 600vh;
  }
  .boots-container {
    width: 100vw;
    margin-top: 0vh;
  }
  .product-card {
    width: 100vw;
  }
  .product-image {
    width: 150px;
    height: 150px;
  }
}

/* @media screen and (min-height: 810px) {
  .boots-body {
    height: 480vh;
  }
  .boots-container {
    display: block;
    height: 480vh;
  }
  .product-card {
    margin-top: 5vh;
  }
} */
